[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-embed-video = "*"
pillow = "*"
django-crispy-forms = "*"
django-recaptcha3 = "*"
django-filter = "*"
django-modeltranslation = "*"
dj-database-url = "*"
whitenoise = "*"
dj-static = "*"
django-js-asset = "*"
gunicorn = "*"
sqlparse = "*"
static3 = "*"

[requires]
python_version = "3.8"
