{% load static %}
{% load i18n %}
{% load static i18n %}
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color ">
  <a class="navbar-brand" href="{% url 'main:home' %}">KinoMonster</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:home' %}">{% trans 'Фильмы' %}
          <span class="sr-only">(current)</span>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'send_email:contact' %}">{% trans 'Подписка' %}</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">О нас</a>
      </li>-->
      <li class="nav-item">
            <form class="nav-link" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select class="selectpicker" data-width="fit" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                            selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}f
            </select>
            <input type="submit" value="Go" style="height: 27px; text: center;">
        </form>
      </li>

    </ul>

      <!--<div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="dark-mode-toggle">
        <label class="custom-control-label" for="dark-mode-toggle"></label>
      </div>-->


        <div>
          <input type="checkbox" class="checkbox" id="dark-mode-toggle" />
              <label class="label" for="dark-mode-toggle">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                  <div class="ball"></div>
              </label>
       </div>
        <form action="{% url 'main:home' %}" class="form-inline my-2 my-lg-0 ml-auto" method="GET">
            <input class="form-control" type="search" placeholder="{% trans 'Поиск' %}..." aria-label="Search" name="title">
      <!--<button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>-->
        </form>
  </div>




      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
    {% if user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a>
    {% else %}
            <a class="dropdown-item" href="{% url 'accounts:login' %}">{% trans 'Войти' %}</a>
            <a class="dropdown-item" href="{% url 'accounts:register' %}">{% trans 'Регистрация' %}</a>
          </div>
        </li>
      </ul>
    {% endif %}

  </div>

</nav>
