{% extends 'base.html' %}

{% block title %} {{ movie.title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ movie.image }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8">
                        <h2 class="text-center">
                            {{ movie.title }}
                        </h2>

                        <p>{{ movie.description}} </p>

                        <h5>Режиссер: {{ movie.director }}</h5>

                        <h5>Актеры: {{ movie.actor }}</h5>

                        {% for genre in movie.genre.all %}
                            <h5>Жанр: {{ genre.name }}</h5>
                        {% endfor %}

                        <h5>Год выпуска: {{ movie.release_date }}</h5>

                        <h5>Время: {{ movie.time }} мин</h5>

                        <h5>Рейтинг: {{ movie.average_rating }}/10</h5>

                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <iframe src="{{ movie.video }}" height="350" width="724" allowfullscreen frameborder=""></iframe>
                </div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Оставить отзыв</h3>
                <form action="{% url 'main:add_review' movie.id %}" method="POST">
                    {% csrf_token %}
                    <label for="comment">Review</label>
                    <textarea name="comment" id="comment" placeholder="" cols="30" rows="5" class="form-control"></textarea>

                    <label for="rating">Rating</label>
                    <input type="range" id="rangeInput"
                    name="rating" min="0" max="10" value="0" step="0.5"
                    oninput="amount.value=rangeInput.value">

                    <output name="amount" id="amount" for="rangeInput">0</output>

                    <br>
                    <input type="submit" class="btn btn-danger" value="Add Review">
                </form>
            </div>
        </div>

        <br>
        <div class="card" style="background-color: #f5eeee;">
            <div class="card-body">
                <h3 class="text-center">Отзывы</h3>
                {% for review in reviews %}
                <br>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5 class="text-left">{{ review.user.username }}</h5>
                                    <h5>{{ review.rating }}</h5>

                                </div>
                                <div class="col-md-9">
                                    <p>{{ review.comment }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock content %}



