{% extends 'base.html' %}
{% load static i18n %}

{% block content %}

 <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">{% trans 'Категории' %}</h1>
        <div class="list-group">
          <a href="{% url 'main:home' %}" class="list-group-item">{% trans 'Все фильмы' %}</a>
          {% for genre in genres %}
            <a href="/?genre={{ genre.id }}" class="list-group-item">{{ genre.name }}</a>
          {% endfor %}
        </div>


      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">



        <div class="row">
        {% for movie in movies.object_list %}
          <div class="col-lg-9">
                <br>
                <div class="card">
                  <div class="row">

                    <div class="col-md-6">
                      <div class="card-body">
                        <img src="{{ movie.image }}" alt="" class="img-fluid" width="100%">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h3 class="text-center">{{ movie.name }}</h3>
                          <h6>{{ movie.description|truncatewords:30 }}</h6>
                          <p>{% trans 'Год выпуска:' %} {{ movie.release_date }}</p>
                          {% for genre in movie.genre.all %}
                          <p>{% trans 'Жанр:' %} {{ genre.name }}</p>
                          {% endfor %}
                          <div class="text-center">
                              <button type="button" class="btn btn-warning">
                                <a href="{% url 'main:detail' movie.id %}">{% trans 'Смотреть онлайн' %}</a>
                              </button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <br>

        {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
     <br>
 </div>

  {% include 'include/pagination.html' %}
<br>
{% endblock content %}

