{% extends 'base.html' %}

{% block content %}


    <div class="container">
      <div class="card" id="backdrop">
        <div class="card-body">
          <div class="row">
            {% for movie in movies %}
              <div class="col-md-6">
                <br>
                <div class="card">
                  <div class="row">
                    <div class="col-md-6" style="">
                      <div class="card-body">
                        <img src="{{ movie.image }}" alt="" class="img-fluid" width="100%">
                      </div>


                    </div>
                    <div class="col-md-6">

                      <div class="card-body">
                        <h3 class="text-center">{{ movie.title }}</h3>
                      <h6>{{ movie.description|truncatewords:34 }}</h6>
                      <i>Год выпуска: {{ movie.release_date }}</i>
                      <i>Рейтинг: {{ movie.average_rating }}</i>
                      <a href="{% url 'main:detail' movie.id %}" style="padding: 10px 7px  7px;">Смотреть онлайн</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}